a:link {
    position: relative;
    color: darkblue; 
    text-decoration: none;
}
a:visited {
    position: relative;
    color: transparent;
    text-decoration: none;
}
body {
    background-color: lightgreen;
    border-right: 25px dotted coral;
    overflow-x: hidden;
}
#wonder:hover {
    position: relative;
    width:200px;
    background-color: green;
    z-index: 1;
}
.content {
    position: relative;
    width:200px;
    display: none;
    z-index: 1;
}

#dropdown:hover .content {
    position: relative;
    width:200px;
    display: block;
    z-index: 1;
}
input {
    position: relative;
    top: 50px;
    left: 150px;
}
li {
    list-style-type: none;
}
.navbar {
    position: relative;
    display: block;
    width: 100%;
    font-size: 150%;
    color: black;
    z-index: 1;
}
.navbar:hover {
    position: relative;
    background-color: green;
    text-decoration: none;
    z-index:1;
    }
h1 {
    position: absolute;
    top: 200px;
    left: 500px;
}
img {   
    max-height:300px;
    max-width:300px;
}
.videos {
    border-style: solid;
    border-width: 5px;
    max-height: 300px;
    max-width: 300px;
}
#dropdown {
    position: relative;
    top:-75px;
    left:-50px;
    z-index: 1;
}
#info {
       position: absolute;
       left: 75%;
       top : 80%;
       }
#logo{
	position:absolute;
	top:-150px;
	left:-50px;
	width:75px;
	height:75px;
}
#move{
    position:absolute;
    top:150px;
    left:70px;
}
#wonder {
    position: relative;
    display: block;
    width: 10%;
    font-size: 150%;
}
#getZIndex{
        position:absolute;
        top:30px;
        left: 400px;
} 
