a:link {
    position: relative;
    color: darkblue; 
    text-decoration: none;
}
a:visited {
    position: relative;
    color: transparent;
    text-decoration: none;
}
body {
    background-color: lightgreen;
    border-right: 25px dotted coral;
    overflow-x: hidden;
}
#wonder:hover {
    position: relative;
    width:200px;
    background-color: green;
    z-index: 1;
}
.content {
    position: relative;
    width:200px;
    display: none;
    z-index: 1;
}

#dropdown:hover .content {
    position: relative;
    width:200px;
    display: block;
    z-index: 1;
}
input {
    position: relative;
    top: 50px;
    left: 150px;
}
li {
    list-style-type: none;
}
.navbar {
    position: relative;
    display: block;
    width: 100%;
    font-size: 150%;
    color: black;
    z-index: 1;
}
.navbar:hover {
    position: relative;
    background-color: green;
    text-decoration: none;
    z-index:1;
    }
h1 {
    position: absolute;
    top: 200px;
    left: 500px;
}
img {   
    max-height:300px;
    max-width:300px;
}
.videos {
    border-style: solid;
    border-width: 5px;
    max-height: 300px;
    max-width: 300px;
} 
#circle {
	position: absolute;
    top: 50%;
    left: 50%; 
	height: 50px;
  	width: 50px;
 	background-color: #555;
 	border-radius: 50%;
 	background-color: rgb(255,0,0);
}
#connectwithsc{
	position:absolute;
	top :22%;
	left:22%;
}
#square{
	position: absolute;
    top: 80%;
    left: 50%; 
	height: 50px;
  	width: 50px;
 	background-color: #555;
 	background-color: rgb(255,0,0);
 	opacity:0.5;
}
#dropdown {
    position: relative;
    top:-75px;
    left:-50px;
    z-index: 1;
}
#earthjpeg {
    position:absolute;
    top :65%;
    left :3%;
}
#happy_dogDIV{
	position:absolute;
	left:600px;
}
#info {
       position: absolute;
       left: 75%;
       top : 80%;
       }
#oceanjpg {
    position: absolute;
    top: 10%;
    left: 23%;
    z-index: -1;
} 
#randomGeneratorText {
    position: absolute;
    top: 35%;
    left: 50%;
}
#returnValue {
    position: absolute;
    top: 35%;
    left: 65%;
}
#ezDIV {
	position:absolute;
	top:500px;
	left:500px;
}
#logo{
	position:absolute;
	top:-150px;
	left:-50px;
	width:75px;
	height:75px;
}
#spotifyLogo{
	position:absolute;
	top :22%;
	left:42%;
}
#steve_working_outDIV{
	position:absolute;
	left:750px;
	top: 300px;
}
#triangleUp {
	position:absolute;
	width: 0;
	height: 0;
	top:25%;
	left:25%;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}
#triangleDown{
	position:absolute;
	width: 0;
	height: 0;
	top:27%;
	left:25%;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
}
#move{
		position:absolute;
		top:150px;
		left:70px;
}
#maximizeDIV{
	position: absolute;
	left: 250px;
	top: 250px;
}
#wonder {
    position: relative;
    display: block;
    width: 10%;
    font-size: 150%;
}
#getZIndex{
        position:absolute;
        top:30px;
        left: 400px;
} 
