@CHARSET "UTF-8";

body {
	
	background-color: skyblue;
	border-right: 25px dotted coral;
    overflow-x: hidden;
}
#container{
		position:relative;
		top:150px;
		z-index:1;	
}	
/*---------------------------    */
#logo{
	position:absolute;
	top:20px;
	left:20px;
	width:75px;
	height:75px;
}
.navbar{
	text-decoration: none;
	color:green;
}
/*-----------------------------  */


#move{
		position:relative;
		z-index:3;
		
}
#button{
	color:white;
}
#name{
		position:relative;
		top:120px;
		text-decoration: none;
}
#mainbody{
    	position:relative;
    	display: none;
    	left:50px;
    	list-style-type: none;
    	text-decoration: none;
    	z-index:3;
}
/*------------------------------   */
#common_super_twitter {
      	
}
#margs-twitter{
     
         
}
#kim_kardashian_twitter {
      
}
#kevin_hart_twitter{
        
 }
#lilbaby-wepaid {
      
}
#chiefkeef-idontlike {
      
}
#youtube_vybz_kartel{
      
}


/*------------------------------   */

.videos {
    border-style: solid;
    border-width: 5px;
    max-height: 300px;
    max-width: 300px;
}
#steve_working_outDIV{
	position:static;
	top:150px;
}
#happy_dogDIV{	
	position:static;
}
#maximizeDIV{
	position:static;	
}
#ezDIV{
	position:static;	
	
}

/*------------------------------   */
.pictures {
		height:100%;
		width:100%	
}
#earthjpeg {
	
	
}
#oceanjpg{  
	
	
}
